asgiref==3.11.0
certifi==2025.11.12
cffi==2.0.0
charset-normalizer==3.4.4
colorama==0.4.6
cryptography==46.0.3
dj-rest-auth==7.0.1
Django==5.2.9
django-allauth==65.13.1
django-otp==1.6.3
django-ratelimit==4.1.0
djangorestframework==3.16.1
djangorestframework_simplejwt==5.5.1
idna==3.11
oauthlib==3.3.1
pycparser==2.23
PyJWT==2.10.1
pyotp==2.9.0
qrcode==8.2
requests==2.32.5
sqlparse==0.5.5
tzdata==2025.3
ua-parser==1.0.1
ua-parser-builtins==0.18.0.post1
urllib3==2.6.2
user-agents==2.2.0
